.chat-preview {
  min-height: 72px;
  background: var(--regular-white);
  cursor: pointer;
  overflow-y: scroll;
  scroll-behavior: smooth;
  &:hover {
    background-color: var(--dropdown-background-hover);
  }

  &-profile {
    align-self: center;
    height: 49px;
    width: 49px;
    border-radius: 50%;
    object-fit: cover;
    margin-inline-end: 13px;
    margin-inline-start: 15px;
  }

  &-desc {
    padding: 15px 15px 15px 0px;
    border-top: 1px solid var(--border-list);
    font-family: $generalfontfamily;
    color: var(--main-chat-color);

    &-contact {
      font-weight: 400;
      font-size: 17px;
    }

    &-last-resp {
      font-size: 12px;
    }

    &-last {
      font-size: 14px;
    }
  }
}
