.custom-input {
  padding: 10px 15px 10px 15px;

  &__preview {
    border-radius: 8px;
    position: relative;
    background-color: #f0f2f5;
    height: 35px;
  }
  &__input {
    border-radius: 8px;
    background-color: #f0f2f5;
    padding: 10px 10px 10px 35px;
    flex-grow: 1;
    border: none;

    &:focus-visible {
      outline: none;
    }
  }
}
