.dialog-modal {
  border: hidden;
  padding: 22px 24px 20px;
  background-color: var(--dialong-bg);
  border-radius: 3px;
  box-shadow: 0 17px 50px 0 rgba(var(--msgshadow), 0.19), 0 12px 15px 0 rgba(var(--msgshadow), 0.24);
  min-width: 500px;
  font-family: $generalfontfamily;

  &__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    color: var(--main-chat-color);
    margin-block-end: 20px;
  }

  &__main {
    & > * {
      padding: 4px 0;
      font-size: 14.2px;
      cursor: pointer;
      color: var(--main-chat-color);
    }
  }

  input[name='radio'] {
    margin-inline-end: 4px;
    cursor: pointer;
    &:focus-visible {
      display: none;
    }
  }

  &__btns {
    padding: 50px 5px 0;
    :nth-child(even) {
      margin-inline-start: 4px;
      background-color: var(--emoji-bottom-border);
      color: #fff;
    }
    :nth-child(odd) {
      background-color: #fff;
      color: var(--emoji-bottom-border);
    }
  }

  &--btn {
    padding: 10px 24px;
    border: 1px solid transparent;
    border-radius: 3px;
    border-color: var(--border-list);
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;
  }
  &::backdrop {
    backdrop-filter: blur(1px);
  }
}
