.emoji-search{
  .search{
    padding:8px 12px;
    input{
      background-color: $chatlistbg;
      border: none;
      width: 100%;
      padding: 10px 12px;
      &:focus-visible{
        outline: none;
      }
    }
  }
}