.main-chat {
  background-image: url("/assets/img/chat-bg.png");
  background-color: $mainchatbg;
  order: 2;
  overflow-y: scroll;
  margin-top: 59px;
  flex: 1 1 0;
  list-style: none;

  .chat-list {
    padding-right: 6.5%;
    padding-left: 6.5%;
    align-items: flex-start;
    margin-bottom: 12px;

    .message {
      font-size: 14.2px;
      line-height: 19px;
      color: $message--primary;
      box-shadow: 0 1px 0.5px rgba($msgshadow, 0.13);
      border-radius: 7.5px;
      user-select: text;
      padding: 6px 7px 8px 9px;
      position: relative;
      .inner-message {
        overflow-wrap: break-word;
        white-space: pre-wrap;

        img{
          width: 20px;
          height: 20px;
          image-rendering: -webkit-optimize-contrast;
        }
      }
      .send-at {
        color: $created-at-msg;
        font-size: 0.6875rem;
      }
      .msg-triangle {
        position: absolute;
        top: 0;
        right: -8px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid $mymessagebg;
      }
      .msg-triangle1 {
        position: absolute;
        top: 0;
        left: -8px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid $incomingmessage;
      }
    }
    .msg-by-me {
      background-color: $mymessagebg;
    }
    .msg-by-other {
      background-color: $incomingmessage;
    }
    // }
  }
}
