.main-chat {
  order: 2;
  margin-top: 59px;
  flex: 1 1 0;
  list-style: none;


  .chat-list {
    height: 100%;
    top: 0;
    padding-right: 6.5%;
    padding-left: 6.5%;
    align-items: flex-start;
    margin-bottom: 12px;

    .message {
      font-size: 14.2px;
      line-height: 19px;
      color: var(--message--primary);
      box-shadow: 0 1px 0.5px rgba(var(--msgshadow), 0.13);
      border-radius: 7.5px;
      user-select: text;
      padding: 6px 7px 8px 9px;
      position: relative;

      .inner-message {
        overflow-wrap: break-word;
        white-space: pre-wrap;
        max-width: 500px;
        img {
          width: 20px;
          height: 20px;
          image-rendering: -webkit-optimize-contrast;
        }
      }
      .send-at {
        color: var(--created-at-msg);
        font-size: 0.6875rem;
      }
      .msg-triangle {
        position: absolute;
        top: 0;
        right: -8px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid var(--mymessagebg);
      }
      .msg-triangle1 {
        position: absolute;
        top: 0;
        left: -8px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid var(--incomingmessage);
      }
    }
    .msg-by-me {
      background-color: var(--mymessagebg);
    }
    .msg-by-other {
      background-color: var(--incomingmessage);
    }
    // }
  }
}
