.profile-header {
  height: 59px;
  background-color: var(--background-header);
  padding: 10px 0px;
  border-right: 1px solid var(--header-border-right);
 // #202c33
  .profile-img {
    padding: 0px 15px 0px 13px;
    max-width: 68px;
    img {
      border-radius: 50%;
    }
  }
  .header-features {
    justify-content: flex-end;
    width: 100%;
    img {
      max-width: 24px;
      margin-inline-end: 25px;
      filter: invert(39%) sepia(13%) saturate(572%) hue-rotate(158deg)
        brightness(93%) contrast(88%);
    }
  }
  .settings-modal {
    position: absolute;
    transform-origin: right top;
    background-color: var(--regular-white);
    transform: scale(1);
    transition: transform 1s;
    padding: 9px 0;
    z-index: 10;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(var(--msgshadow), 0.26),
      0 2px 10px 0 rgba(var(--msgshadow), 0.16);
    & > * {
      padding-right: 58px;
      padding-left: 24px;
      padding-top: 13px;
      cursor: pointer;
      height: 40px;
      font-size: 14.5px;
      line-height: 14.5px;
      color: var(--main-chat-color);
      font-family: $generalfontfamily;

      &:hover{
        background-color: var(--dropdown-background-hover);
      }
    }
  }
  .close-modal{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 100;
  }
}
