.settings {

    &__main{

        &--img {
            border-radius: 50%;
            height: 82px;
            width: 82px;
            margin: 16px 19px;
        }
        span{
            &:nth-child(1){
                color: $message--primary;
                font-size: 19px;
            }
            &:nth-child(2){
                color: $fontstrong;
                font-size: 15px;
            }
        }
    }
    &__icon{
        color: $message--primary;
        font-size: 17px;
        cursor: pointer;
        &:hover{
            background-color: #f5f6f6;
        }
        &--img{
            height: 24px;
            width: 24px;
            margin-inline-start: 23px;
            margin-inline-end: 23px;
        }
        
        &--title{
            width: 100%;
            padding:16px 0;
            border-bottom: 1px solid $border-list ;
        }
    }
  }