// COLOR PALETTE
// $clr4: darken($clr3, 40%);

:root{
    --regular-white:#ffffff
}
$clr1: #891826;
$clr2: #ba1628;
$clr3: #9c3842;
$clr4: #f7f3f0;

$background:#f8f8f8;
$background-header:#f0f2f5;
$fontstrong:#667781;
$chatlistbg:#e9edef;
$mainchatbg:#efeae2;
$fontcolor:#075E54;
$border-list:#e9edef;
$message--primary:#111b21;
$mymessagebg:#d9fdd3;
$msgshadow:rgb(11,20,26);
$incomingmessage:#fff;
$created-at-msg:#667781;
$main-chat-color:#3b4a54;
$app-bg:#eae6df;
$app-bg-deeper:#d1d7db;
$emoji-bottom-border:#008069;
$app-title:#41525d;
$input-bottom-border:#00a884;
$icon:#8696a0;
$dropdown-background-hover: #f5f6f6;


$generalfontfamily: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial,
Ubuntu, Cantarell, Fira Sans, sans-serif;
$base-border-radius: 100%;
$base-padding:10px;

// LAYOUT
$layoutPadding: 20px;


// LAYOUT BREAKPOINTS
$break-narrow: 780px;
$break-normal: 1360px;
$break-wide: 1920px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;


// COLOR OBJECT!
$colors:(
   
);


// MAP
// will print #326dee
// @debug map-get($colors, 'primary');
// // will true
// @debug map-has-key($colors , 'error' );
// // will print ("primary": "#326dee", "seconadry": "#1ac888", "error": "#d32752") without info key
// @debug map-remove($colors, 'info');
// // will print ("primary": "#326dee", "seconadry": "#1ac888", "error": "#d32752") with pink key&value
// @debug map-merge($colors, ('pink':'#ffc0cb') );




